<!DOCTYPE HTML>
<!--
	Standout by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
{% load static %}
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'testAssets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'testAssets/css/item-bar.css' %}" />
		<!--TradePending-->
		<script src="https://plugin.tradepending.com/v5/snap-H3AwNy8aKuwK8oxbB.js"></script>
		<!--Rescue Leads-->

	</head>
	<body class="is-preload">

		<div class="fixedBar row">
			<div class="col innerComponent">
				<p>ComplyAuto</p> <!--ComplyAuto-->
			</div>
			<div class="col innerComponent">
				<p>Rescue Leads</p>
				<script type='text/javascript' async>!function(){if(window._rTag)window._rTag.init("dcdc54a800cda702473c3c603a");else{var n="https://dkbcpcob6xxyt.cloudfront.net/base.js",e=document.createElement("script");e.src=n+"?"+Date.now(),e.async=!0,e.defer=!0,e.onload=function(){window._rTag.init("dcdc54a800cda702473c3c603a")},document.head.appendChild(e)}}();</script>
			</div>
			<div class="col innerComponent">
				<a class="tp-btn-full-frame">TradePending</a> <!--TradePending-->

			</div>
			<div class="col innerComponent">

				<a onclick="audioEyeTime('audioEyeButton');" id="audioEyeButton" class="off"><svg tabindex="-1" role="presentation" width="40" height="40" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg" style="fill: #1F77B2;"><path d="M30,4.2C15.7,4.2,4.2,15.7,4.2,30S15.7,55.8,30,55.8S55.8,44.3,55.8,30S44.3,4.2,30,4.2 M30.7,9.6c2.6,0,4.8,2.1,4.8,4.8c0,2.6-2.1,4.8-4.8,4.8c-2.6,0-4.8-2.1-4.8-4.8C25.9,11.8,28.1,9.6,30.7,9.6 M46.2,22.4 l-10.2,1.7c-0.7,0.1-1.2,0.7-1.2,1.4v1.9c0,2,0.1,4,0.6,6l3.3,14.1c0.5,1.8-1,2.9-2.4,2.8c-0.9,0-1.7-0.6-2-1.7l-3.9-13.3 c-0.1-0.2-0.3-0.4-0.5-0.4c-0.2,0-0.4,0.1-0.5,0.4l-3.9,13.3c-0.3,1.1-1.1,1.6-2,1.7c-1.4,0.1-2.9-1-2.4-2.8l3.3-14.1 c0.4-2,0.6-4,0.6-6v-1.9c0-0.7-0.5-1.3-1.2-1.4l-10.2-1.7c-2.3-0.4-1.7-3.7,0.6-3.3c0,0,11.4,1.3,15.7,1.3 c4.2,0,15.7-1.3,15.7-1.3C47.9,18.8,48.5,22,46.2,22.4"></path></svg></a>

			</div>
			<div class="col innerComponent">
				<a>Chat</a>
				<script src="https://cdn.gubagoo.io/toolbars/119740/loader_119740_1.js" async></script>
			</div>
		</div>

		<!-- Page wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><a href="{% url 'testEnvironment:index' %}">Standout <span>by Pixelarity</span></a></span>
						<a href="#menu"><span>Menu</span></a>
					</header>

				<!-- Nav -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{% url 'testEnvironment:index' %}">Home</a></li>
								<li><a href="{% url 'testEnvironment:index' %}">Portfolio</a></li>
								<li><a href="{% url 'testEnvironment:index' %}">Generic</a></li>
								<li><a href="{% url 'testEnvironment:index' %}">Elements</a></li>
							</ul>
							<a class="close"><span>Close</span></a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h1>Lorem ipsum dolor sit amet</h1>
							<div class="content">
								<p>Amet lorem ipsum pulvinar vehicula, orci et tellus gravida amet lorem tempus ante. Nam ut purus consequat nulla lacinia.</p>
								<ul class="actions special">
									<li><a href="{% url 'testEnvironment:index' %}" class="button large next">Our Work</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Footer -->
					<section id="footer" class="wrapper">
						<div class="inner">
							<div class="split">
								<div class="content">
									<header>
										<h2>About</h2>
									</header>
									<p>Lorem ipsum dolor amet et donec convallis placerat varius. Phasellus sagittis, urna blanSapien lectus lorem tempus ut purus consequat. Sed veroeros et nisl urna lacinia lorem. Aenean at adipiscing lorem. Nunc risus augue, ullamcorper eget posuere.</p>
									<ul class="actions">
										<li><a href="{% url 'testEnvironment:index' %}" class="button next">Full Story</a></li>
									</ul>
								</div>
								<ul class="contact-icons">
									<li><a href="{% url 'testEnvironment:index' %}" class="icon brands alt fa-twitter"><span class="label">twitter.com/untitled</span></a></li>
									<li><a href="{% url 'testEnvironment:index' %}" class="icon brands alt fa-facebook-f"><span class="label">facebook.com/untitled</span></a></li>
									<li><a href="{% url 'testEnvironment:index' %}" class="icon brands alt fa-instagram"><span class="label">instagram.com/untitled</span></a></li>
									<li><a href="{% url 'testEnvironment:index' %}" class="icon solid alt fa-envelope"><span class="label">contact@untitled.tld</span></a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Copyright -->
					<section class="wrapper style2 copyright">
						<div class="inner">
							&copy; Untitled. All rights reserved. Lorem ipsum dolor sit amet.
						</div>
					</section>

			</div>

		<!-- Scripts -->

			<script src="{% static 'testAssets/js/jquery.min.js' %}"></script>
			<script src="{% static 'testAssets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'testAssets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'testAssets/js/browser.min.js' %}"></script>
			<script src="{% static 'testAssets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'testAssets/js/util.js' %}"></script>
			<script src="{% static 'testAssets/js/main.js' %}"></script>
			<script src="{% static 'testAssets/js/item-bar.js' %}"></script>
			<script type="text/javascript">!function(){var b=function(){window.__AudioEyeSiteHash = "dee6c261e3a09a4b4ea3e00c5eaaf253"; var a=document.createElement("script");a.style="display:none;";a.src="https://wsmcdn.audioeye.com/aem.js";a.type="text/javascript";a.setAttribute("async","");document.getElementsByTagName("body")[0].appendChild(a)};"complete"!==document.readyState?window.addEventListener?window.addEventListener("load",b):window.attachEvent&&window.attachEvent("onload",b):b()}();</script>
			<script type="text/javascript">
				function audioEyeTime(audioEyeButtonId){
					if ($('#' + audioEyeButtonId).hasClass("on")){
						$('#' + audioEyeButtonId).removeClass("on");
						$('#' + audioEyeButtonId).addClass("off");
						AudioEye.optIn.opt('out', 'CTA');
						AudioEye.deactivate('toolbar');
					}
					else{
						$('#' + audioEyeButtonId).removeClass("off");
						$('#' + audioEyeButtonId).addClass("on");
						AudioEye.optIn.opt('out', 'CTA');
						AudioEye.activate('toolbar');
					}
				}
				$( document ).ready(function() {
					AudioEye.optIn.opt('out', 'CTA');
				});
			</script>
	</body>
</html>